.full-screen-dialog {
  .mat-mdc-dialog-container {
    padding: 0;
    border-radius: 0;
  }
}

.dialog-xs .mat-mdc-dialog-container {
  max-width: 320px;
}

.dialog-sm .mat-mdc-dialog-container {
  max-width: 440px;
}

.dialog-md .mat-mdc-dialog-container {
  max-width: 640px;
}

.dialog-lg .mat-mdc-dialog-container {
  max-width: 840px;
}

.dialog-xl .mat-mdc-dialog-container {
  max-width: 1240px;
}

.dialog-xxl .mat-mdc-dialog-container {
  max-width: 1440px;
}

@media (max-width: 768px) {
  .mat-mdc-dialog-container {
    max-width: 95vw !important;
    max-height: 90vh !important;
  }
}
