/* You can add global styles to this file, and also import other style files */
//@import "acontplus-utils/src/styles";
@import 'acontplus-utils/src/styles/snackbar-themes';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
