<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <div class="menu-debug">Menu items: {{ menuItems().length }}</div>
      @for (item of menuItems(); track $index) {
        <mat-list-item
          [routerLink]="item.route"
          #link="routerLinkActive"
          routerLinkActive
          [activated]="link.isActive"
          (click)="onMenuClick(item)"
        >
          <mat-icon>{{ item.icon }}</mat-icon>
          {{ item.label }}
        </mat-list-item>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <acp-button
          type="button"
          ariaLabel="Toggle sidenav"
          matStyle="icon"
          icon="menu"
          (handleClick)="drawer.toggle()"
        />
      }
      <span class="spacer"></span>
      <acp-theme-toggle></acp-theme-toggle>
      <acp-button
        matStyle="icon"
        icon="person"
        [matMenuTriggerFor]="userMenu"
        ariaLabel="User menu"
      />
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <div class="sidenav-scroll-wrapper">
      <div class="sidenav-content">
        <router-outlet />
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
